
{{> airport/header }}

<body>

<!-- Navigation -->
{{> airport/top-navigation }}

<!-- Page Content -->
<div class="container">
  {{>airport/messages}}

    {{{ body }}}

</div>
<!-- /.container -->
{{> airport/footer }}
