    <h3 class="formka text-center">FORMKA QABASHADA CANSHUURTA</h3> 

<div class="containero">

<div class="con">
<div class="text-centered">
    <table class="table text-centered">
  <tbody>
    <tr>
      <td class="text-center">TAARGO: {{article.idNumber}}</td>
    </tr>
    <tr>
      <td class="text-center">Magac: {{article.magac}}</td>
    </tr>
    <tr>
      <td class="text-center">Lagu leeyahay: {{article.canshuur}}</td>
    </tr>
   
  </tbody>

  </form>
<br>
<br>
</table>
<br>
 <form method="post">
<input type="number" id="canshuu" name="canshuu" class="form-control" placeholder="Geli halkan Lacagta canshuurta oon dhimaneyn">
<br>
<button type="submit" class="btn btn-primary btn-lg btn-block">geli</button></form>
</div>
</div>
</div>