<section class="container" id="gigs">
        <h1>Xakhiji Emailkaga</h1>
        <form method="POST" action="/users/verify">
            <div id="form-group"><label>Emailka aan kuu soo dirno linkiga soo garaac</label></div>
        </form>
    </section><br>