<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-12">

        <h1 class="my-4 text-center">Page Heading
            <small>Secondary Text</small>
        </h1>

        <!-- Blog Post -->
        {{#each posts}}


             <h1>{{article.title}}</h1>
        <h5>Waxa kuu diyariyey {{article.author}}</h5>
        <div class="fakeimg1"><img src="../../uploads/{{article.articleimage}}"></div>
        <br>
        <p>Qoraal kooban..</p>
        <p> {{{article.body}}} </p>

        {{/each}}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-6">
            <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div>

    
      
  