<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/css/animate.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/fontawesome/css/all.css">
  <link href="/css/styl.css" rel="stylesheet">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/stylina.css">
  <title>SomWire</title>
</head>

<body>
  <header class="inner">
    <h2><a href="/"><i class="fas fa-code"></i> SomWire</a></h2>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/Articles">Articles</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/register">Register</a></li>
      <li><a href="/users/verify"></a></li>
      <li><a href="/users/login">Login</a></li>
    </ul>
  </header><br>
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>Mogadishu</h2>
        <h5>Waxa kuu diyariyey suul</h5>
        <div class="fakeimg1"><img src="\uploads/images (1).jpeg"></div>
        <p>Qoraal kooban..</p>
        <p>Waa Magaalo ah magaloMadaxda Somalia
          Why do we use it?
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
          packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
          will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
          accident, sometimes on purpose (injected humour and the like).

        </p><br>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>Yaan Ahay</h2>
        <div class="fakeimg" style="height:100px;">Masawir</div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div>
      <div class="card">
        <h3>qoraalada aqriste badan</h3>
        <div class="fakeimg">Masawir</div><br>
        <div class="fakeimg">Masawir</div><br>
        <div class="fakeimg">Masawir</div>
      </div>
      <div class="card">
        <h3>Igalasoco Halkan</h3>
        <p>Qoraal kaloo kooban..</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>Gabar Somali</h2>
        <h5>Waxa kuu diyariyey suul</h5>
        <div class="fakeimg1"><img src="\uploads/38500801_272151200230769_56576776421161041922_n.jpg"></div>
        <p>Qoraal kooban..</p>
        <p>Gabdhaha Somalida iyo waxqabadka aan la cayimi karin ee aay u hayaan ummadda Somaliyeed</p><br>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>Yaan Ahay</h2>
        <div class="fakeimg" style="height:100px;">Masawir</div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div>
      <div class="card">
        <h3>qoraalada aqriste badan</h3>
        <div class="fakeimg">Masawir</div><br>
        <div class="fakeimg">Masawir</div><br>
        <div class="fakeimg">Masawir</div>
      </div>
      <div class="card">
        <h3>Igalasoco Halkan</h3>
        <p>Qoraal kaloo kooban..</p>
      </div>
    </div>
  </div>
  
  <footer class="container">
    <p>SwDigital &copy; 2019</p>
  </footer>
</body>
<script src="/bower_components/jquery/dist/jquery.js"> </script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/summernote-bs4.js"></script>
<link href="/summernote-bs4.css" rel="stylesheet">
<script>$(document).ready(function () {
    $('textarea').summernote({
      height: 300,   //set editable area's height
    });
  });</script>

</html>