<div class="container">


    {{#if success_message}}
       <div class="alert alert-success auto-hide"><strong>{{success_message}}</strong></div>
    {{/if}}
    {{#if success_message}}
       <div class="alert alert-danger auto-hide"><strong>{{error_message}}</strong></div>
    {{/if}}
    {{#if error}}
       <div class="alert alert-danger auto-hide"><strong>{{error}}</strong></div>
    {{/if}}

</div>
